@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191B2C;
  --text: #fff;
}

/* width */
.scroll-wrapper::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191B2C;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #049AEF;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191B2C;
}

.scrollbar-track {
  background-color: #191B2C!important;
  border-radius: 5px!important;
}

/* Стили для "ползунка" скролла */
.scrollbar-thumb {
  background-color: #049AEF!important;
  border-radius: 5px!important;
  transition: background-color 0.3s!important;
}

/* Ховер-эффект */
.scrollbar-thumb:hover {
  background-color: #202044;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 100%;
  padding-left: 0.94vw;
  padding-right: 0.94vw;
}

.logo-gradient {
  background-image: linear-gradient(180deg, #049AEF 0%, #0862DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-gradient,.rememberMeButton {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(180deg, #049AEF 0%, #0862DC 100%);
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}

.main-gradient:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #6ABCEB 0%, #357DDF 100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.main-gradient:hover:before {
  opacity: 1;
}

.gradient-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 9px;
  padding: 1px;
  background: linear-gradient(180deg, #049AEF 0%, #0862DC 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  transition: 0.3s ease-out;
}

.card-shadow {
  box-shadow: 0px 0px 16.1px 0px #086BDF36;
}

.skeleton-shadow {
  background: #1D1F37 linear-gradient(180deg, rgba(0, 0, 0, 0) 42.51%, rgba(0, 0, 0, 0.5) 77.39%);
}

.inner-shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.51%, rgba(0, 0, 0, 0.5) 77.39%);
}

.cards-list {
  display: grid;
}

.photos-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.81%, rgba(0, 0, 0, 0.35) 85.47%);
  z-index: 1;
}

.card:hover .card-description {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
}

.chatInfoImage:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background:linear-gradient(180deg, rgba(0, 0, 0, 0.5) 8.26%, rgba(0, 0, 0, 0.31) 34.4%, rgba(0, 0, 0, 0.31) 58.49%, rgba(0, 0, 0, 0.5) 89.04%);
}

.yarl__container {
  background-color: rgba(0,0,0,0.3) !important;
  backdrop-filter: blur(5px) !important;
}

.custom-inner-container {
  max-width: 700px;
  margin: 0 auto;
}

.yarl__slide {
  padding: 50px 20px!important;
}

.yarl__slide img {
  border-radius: 8px;
}

.yarl__toolbar {
  right: 20px !important;
  top: 20px!important;
}

.yarl__toolbar .yarl__button {
  width: 32px;
  height: 32px;
  background: #191B2C!important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

@media screen and (min-width: 640px) {
  .cards-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill,minmax(245px,1fr));
  }
}

@media screen and (max-width: 1020px) {
  .photos-container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .cards-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .photos-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width:570px) {
  .container {
    padding-left: 4.27vw;
    padding-right: 4.27vw;
  }
  .cards-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 380px) {
  .cards-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .cards-list .card {
    height: 370px;
  }
  .photos-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.transcribate-button {
  background: linear-gradient(0deg, rgba(6, 128, 230, 0.24), rgba(6, 128, 230, 0.24)),
  linear-gradient(0deg, rgba(6, 128, 230, 0.24), rgba(6, 128, 230, 0.24));
}